extends layout.pug

block content
  div#stats-wrap
    div.container#stats
      h3 Carmen Stats
      if stats.week
        div.row
          h5 This Week (#[strong ##{stats.week.num}])
          ul
            if stats.week.users
              li Unique users: 
                strong= stats.week.users.length
            if stats.week.messages
              li Total messages received: 
                strong= stats.week.messages.received
              li Total messages sent: 
                strong= stats.week.messages.sent
              li Messages understood: 
                strong= `${Math.floor(stats.week.messages.understood / stats.week.messages.received * 100)}%`
            if stats.week.rooms && stats.week.rooms.length > 0
              li Rooms Requested (by frequency)
                ul.nl
                    for room in stats.week.rooms
                      if room.name
                        li #[strong #{room.name}:] #{room.totalRequests} total requests, #{room.picRequests} picture requests, #{room.mapRequests} map requests
      if stats.month
        div.row
          h5 This Month (#[strong #{stats.month.name}])
          ul
            if stats.month.users
              li Unique users: 
                strong= stats.month.users.length
            if stats.month.messages
              li Total messages received: 
                strong= stats.month.messages.received
              li Total messages sent: 
                strong= stats.month.messages.sent
              li Messages understood: 
                strong= `${Math.floor(stats.month.messages.understood / stats.month.messages.received * 100)}%`
            if stats.month.rooms && stats.month.rooms.length > 0
              li Rooms Requested (by frequency)
                ul.nl
                    for room in stats.month.rooms
                      if room.name
                        li #[strong #{room.name}:] #{room.totalRequests} total requests, #{room.picRequests} picture requests, #{room.mapRequests} map requests
      if stats.total
        div.row
          h5
            strong All Time
          ul
            if stats.total.users
              li Unique users: 
                strong= stats.total.users.length
            if stats.total.messages
              li Total messages received: 
                strong= stats.total.messages.received
              li Total messages sent: 
                strong= stats.total.messages.sent
              li Messages understood: 
                strong= `${Math.floor(stats.total.messages.understood / stats.total.messages.received * 100)}%`
            if stats.total.rooms && stats.total.rooms.length > 0
              li Rooms Requested (by frequency)
                ul.nl
                    for room in stats.total.rooms
                      if room.name
                        li #[strong #{room.name}:] #{room.totalRequests} total requests, #{room.picRequests} picture requests, #{room.mapRequests} map requests
    if stats.feedback
      div.container#feedback
        h3 Feedback
        ul.nl.feedback-list
          for feedback in stats.feedback
            li "#{feedback.text}"
            ul.nl
              li (from #[strong #{formatPhone(feedback.from)}] on #[strong #{formatMoment(feedback.date)}])
              

    //- pre
    //-   code= JSON.stringify(stats, null, 2)
